.caixa {
  height: 600px;
  width: 250px;
  border-radius: 10px;
  background-color: black;
  opacity: 0;
  pointer-events: none;
}

.body {
  width: 600px;
  height: 1200px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
