.caixa {
  height: 600px;
  width: 400px;
  border-radius: 10px;
  background-color: white;
  border:solid 1px;
  opacity: 0;
  display: flex;
  justify-content: end;
  align-items: start;
}

.body {
  width: 600px;
  height: 1200px;
}
.X {
border-radius: 0px 9px 0px 10px;
border:solid 1px;
width: 24px;
height: 24px;
}
.imagem {
  width: 15px;
  height: 15px;
}
.boxcontrol {
  display: flex;
  justify-content: center;
  align-items: center; 
}
.item1 {
  border-radius: 10px;
  border:solid 1px;
  width:70px;
  height:60px;
  margin:4px;
}
.items {
  display:flex;
  justify-content: start;
  align-items: start;
}
.item2{
  border-radius: 10px;
  border:solid 1px;
  width:70px;
  height:60px;
  margin:4px;
}
.item3{
  border-radius: 10px;
  border:solid 1px;
  width:70px;
  height:60px;
  margin:4px;
}
