.caixa {
  height: 600px;
  width: 250px;
  border-radius: 10px;
  background-color: white;
  border:solid 1px;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  width: 600px;
  height: 1200px;
}
.X {
  justify-content: end;
  align-items: start;
  justify-content: end;
}
